/* Page layout */
.wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
}

.container {
  background: white;
  padding: 24px;
  border-radius: 8px;
  max-width: 1200px;
  margin: auto;
}

/* Title */
.page-title {
  font-size: 26px;
  font-weight: 600;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}



/* Toolbar */
.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
  gap: 24px;
}

/* Add Button */
.add-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #ff0000;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.btn-icon{
    height: 24px;
}

.search-icon{
    height: 24px;
}

.add-btn:hover {
  background-color: #FF4D4D;
}

/* Search box */
.search-box {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  width: 260px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
}

/* Table */
.table-wrapper {
  overflow-x: auto;
}

.leads-table {
  width: 100%;
  border-collapse: collapse;
}

.leads-table th,
.leads-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.leads-table th {
  background-color: #f1f3f5;
  font-weight: 600;
}

/* Status */
.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.status.active {
  background-color: #e3f2fd;
  color: #d32f2f;
}


/* Actions */
.actions {
  font-size: 18px;
  cursor: pointer;
}

/* delete popup */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  width: 300px;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn {
  padding: 6px 14px;
  border: none;
  cursor: pointer;
}

.btn.cancel {
  background: #ccc;
}

.btn.delete {
  background: #e53935;
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
  .toolbar {
    flex-direction: column;
    align-items: stretch;
  }

  .search-box {
    width: 100%;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.action-icon {
  height: 20px;
  cursor: pointer;
  
}

.action-icon:hover {
  
  transform: scale(1.1);
}


